/* -----------------GLOBAL----------------- */
body{
  background-color: black;
  color: white;
}
.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container{
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
.burger {
  display: none;
}
.button{
  width: 205px;
  height: 60px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #000000;
  background: #8DFD1B;
  white-space: nowrap;
  text-align: center;
  transition: .3s;
}
.button:hover {
  transform: scale(1.05);
}
/* --------------------------HEADER----------------------- */
.header__top {
  height: 100px;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 40px;
  margin-top: 52px;
  margin-left: 140px;
}
.header__nav {
  margin-right: auto;
  margin-top: 48px;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0px;
}
.header__nav-link {
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
  font-family: 'DM mono';
  font-size: 16px;
  transition: all .3s;
}
.header__nav-link:hover {
  color: #8DFD1B;
}
.header__btn-box {
  margin-top: 48px;
}
.header__top-buttons {
  display: flex;
}
.header__top-tw{
  margin-right: 12px;
  transition: .3s;
}
.header__top-tw:hover{
  transform: scale(1.3);
}
.header__top-dc{
  margin-right: 12px;
  transition: .3s;
}
.header__top-dc:hover{
  transform: scale(1.3);
}
.header__top-yt{
  margin-right: 12px;
  transition: .3s;
}
.header__top-yt:hover{
  transform: scale(1.3);
}
.header__top-tg{
  margin-right: 140px;
  transition: .3s;
}
.header__top-tg:hover{
  transform: scale(1.3);
}
/* ------------------------HEADER MAIN--------------------- */
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  margin-right: 30px;
}
.header__title {
  font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 51px;
line-height: 61px;
max-width: 484px;
margin-top: 133px;
}
.header__subtitle {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
max-width: 340px;
margin-top: 43px;
}
.header__content-btn {
  margin-top: 115px;
  font-family: 'DM mono';
}
.header__img {
  margin-left: 580px;
  margin-top: -555px;
}
/* ------------------------wave--NFT--------------------- */
.waveNFT {
  margin-top: 114px;
}
.waveNFT__inner {
  display: flex;
}
.waveNFT__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
}
.waveNFT__subtitle {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #A8A8A8;
  width: 351px;
}
.waveNFT__image {
  margin-top: 41px;
  margin-left: -65px;
  margin-right: 220px;
}
.waveNFT__content2 {
  margin-left: 100px;
}
.line__zagl{
  display: flex;
}
.waveNFT__zagl {
  width: 546px;
  margin-left: 22px;
  color: #8DFD1B;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin-left: 22px;
}
.waveNFT__text1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 551px;
  margin-top: 32px;
}
.waveNFT__text2 {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
width: 562px;
margin-top: 18px;
}
.waveNFT__text3 {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
width: 564px;
margin-top: 17px;
}
.waveNFT__btn {
  font-family: 'DM mono';
  width: 246px;
  height: 42px;
  margin-top: 36px;
}
/* ------------------------artist--slider--------------------- */
.artist__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 79px;
  line-height: 88px;
  margin-top: 179px;
  text-align: center;
}
.container__slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
.artist__slide {
  margin-top: 127px;
}
.artist__img {
  padding-left: 70px;
}
.artist__name {
  text-align: center;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* ----------------------------STORY--------------------- */
.main__story {
  margin-top: 240px;
}
.story__wrapper {
  margin-top: 61px;
}
.story__ramka{
  margin-left: 322px;
}
.st__zagl {
  display: flex; 
  margin-left: 630px;
}
.story__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
}
.story__subtitle {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #A8A8A8;
}
.story__content1 { 
  margin-top: 61px;
}
.story__btns {
  position: absolute;
  margin-left: 68px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.story__button1 {
  height: 72px;
  padding-top: 25px;
}
.story__button1:hover {
  height: 72px;
  width: 282px;
  color: #8DFD1B;
  background: url('../images/decor/button.svg');
}
.stbt1{
  padding-left: 28px;
}
.stbt2{
  padding-left: 28px;
}
.stbt3{
  padding-left: 28px;
}
.story__button2 {
  height: 72px;
  padding-top: 25px;
}
.story__button2:hover {
  height: 72px;
  width: 282px;
  color: #8DFD1B;
  background: url('../images/decor/button.svg');
}
.story__button3 {
  height: 72px;
  padding-top: 25px;
}
.story__button3:hover {
  height: 72px;
  width: 282px;
  color: #8DFD1B;
  background: url('../images/decor/button.svg');
}
.story__content2 {
  margin-top: 61px;
}
.story__picture {
  margin-left: 382px;
  margin-top: -478px;
}
.story__line {
  margin-left: 594px;
  margin-top: -250px;
}
.strLine__zagl {
  margin-left: 616px;
  margin-top: -126px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  max-width: 494px;
}
.story__text1 {
  margin-top: 32px;
  margin-left: 594px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 529px;
}
.story__text2 {
  margin-top: 18px;
  margin-left: 592px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 522px;
}
.story__text3 {
  margin-top: 17px;
  margin-left: 592px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 522px;
}
.ost__img{
  margin-top: 180px;
  width: 100%;
}
/* --------------------------ROAD--MAP--------------------- */
.road_map {
  margin-top: 118px;
}
.map__fon {
  max-width: 1392px;
  max-height: 1168px;
}
.road__zagl {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.road__container {
  margin-left: 450px;
  margin-top: -1100px;
}
.road__container2{
  margin-left: 450px;
  margin-top: 240px;
  
}
.road__container3{
  margin-left: 450px;
  margin-top: 240px;
  height: 271px;
}
.map__btns {
  margin-top: -259px;
  padding-left: 12px;
}
.map__button{
padding-top: 8px;
display: inline-flex;
margin-left: -33px;
font-family: 'DM Mono';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
color: #8DFD1B;
}
.map__title {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #8DFD1B;
  margin-top: -45px;
  margin-left: 80px;
}
.map__subtitle {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 80px;
  margin-top: 10px;
}
.map-line {
  margin-top: 10px;
}
.map__text1 {
  padding-left: 34px;
  padding-top: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
}
.map__text2 {
  padding-left: 34px;
  margin-top: -12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
}
.map__text3 {
  padding-left: 34px;
  margin-top: -12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
}
.map__text4 {
  margin-top: 10px;
  margin-left: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  max-width: 293px;
}
.map__text5 {
  margin-left: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  max-width: 293px;
}
.map__NFT {
  margin-left: 397px;
  margin-top: -130px;
}
.map__NFT1 {
  margin-left: 397px;
  margin-top: -160px;
}
.map__NFT2 {
  margin-left: 397px;
  margin-top: -160px;
}
/* -----------------------LOGOHOLDER------------------------ */
.logoholder{
  margin-top: 288px;
}
.logoholder__zagl {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.logoholder__inner {
  padding-top: 245px;
}
.logoholder__content {
  display: flex;
  margin-right: 30px;
}
.logoholder__heading {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  padding-left: 100px;
}
.logoholder__text2 {
  color: #A8A8A8;
}
.logoholder__image {
  margin-top: 180px;
  margin-left: -300px;
}
.logoholder__acc {
  margin-left: 320px;
  background-color: #222222;
  max-height: 460px;
  padding: 20px;
}
.logoholder__acc-item {
  /* padding-left: 40px; */
  padding-bottom: 25px;
}
.logoholder__acc-link{
  display: block;
  padding-left: 40px;
}
.logoholder__acc-head {
  font-family: 'DM Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
position: relative;
}
.logoholder__acc-head::before,
.logoholder__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.logoholder__acc-head::after{
  transform: rotate(90deg);
  transition: all .3s;
}
.logoholder__acc-text {
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #C4C4C4;
  max-width: 514px;
}
.logoholder__acc-link--active .logoholder__acc-head::after{
  transform: rotate(0deg);
}
/* --------------------------TEAM------------------------ */
.team {
  padding-top: 120px;
}
.team__zagl {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.team__container {
  padding-top: 122px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  padding-left: 50px;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 122px;
}
.team__content1 {
  text-align: center;
}
.team__name {
  margin-top: 19px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
}
.team__role {
  margin-top: 18px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #8DFD1B;
}
.team__links {
  margin-top: 22px;
}
.team__twit {
  margin-right: 12px;
}
.twitter{
  transition: .3s;
}
.twitter:hover{
  transform: scale(1.3);
}
.in{
  transition: .3s;
}
.in:hover{
  transform: scale(1.3);
}
.team__desc {
  padding-left: 35px ;
  margin-top: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  max-width: 298px;
}
/* --------------------------END------------------------ */
.END {
  padding-top: 236px;
}
.end__wrapper {
  padding-left: 136px;
}
.end__zagl {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 61px;
}
.END__text2 {
  color: #8DFD1B;
}
.END__desc {
  padding-top: 34px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 345px;
}
.END__btn {
  padding-top: 35px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.END__image {
  padding-left: 700px;
  margin-top: -330px;
}
/* --------------------------FOOTER------------------------ */
.footer {
  margin-top: 118px;
  background-color: #42006A;
  height: 338px;
  width: 100%;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer__container {
  padding-left: 140px;
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__inner {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.footer__text {
  margin-top: 63px;
}
.footer__item {
  margin-top: 29px;
  transition: .3s;
}
.footer__item:hover {
  color: black;
}
.footer__item:first-child {
  margin-top: 0;
}
.footer__buttons {
  display: flex;
}
.footer__tw {
  margin-right: 12px;
   transition: .3s;
}
.footer__tw:hover {
  transform: scale(1.3);
}
.footer__dc {
  margin-right: 12px;
  transition: .3s;
}
.footer__dc:hover {
  transform: scale(1.3);
}
.footer__yt {
  margin-right: 12px;
  transition: .3s;
}
.footer__yt:hover {
  transform: scale(1.3);
}
.footer__tg {
  transition: .3s;
}
.footer__tg:hover {
  transform: scale(1.3);
}
/* --------------------------MEDIA------------------------ */
@media (max-width: 1400px) {
  .logoholder__acc {
    max-height: 490px;
  }
  /* ------------------------------------------ */
}
@media (max-width: 1300px){
  .header__img {
    margin-left: 460px;
    margin-top: -485px;
    height: 500px;
  }
  .road__container {
    margin-left: 370px;
  }
  .road__container1 {
    margin-left: 370px;
  }
  .road__container2 {
    margin-left: 370px;
  }
  .road__container3 {
    margin-left: 370px;
  }
  .logoholder__acc {
    max-height: 530px;
  }
  .END__image {
    padding-left: 460px;
  }
  /* ------------------------------------ */
}
@media (max-width: 1200px) {
  .waveNFT__content2 {
    margin-left: -10px;
  }
  .road__container {
    margin-left: 320px;
  }
  .road__container1 {
    margin-left: 320px;
  }
  .road__container2{
    margin-left: 320px;
  }
  .road__container3 {
    margin-left: 320px;
  }
  .logoholder__acc {
    max-height: 590px;
  }
  /* --------------------------------------------- */
}
@media (max-width: 1100px) {
  .waveNFT__content2 {
    margin-left: -70px;
  }
  .road__container {
    margin-left: 270px;
  }
  .road__container1 {
    margin-left: 270px;
  }
  .road__container2 {
    margin-left: 270px;
  }
  .road__container3 {
    margin-left: 270px;
  }
  .logoholder__acc {
    margin-left: 100px;
  }
  .END__image {
    padding-left: 330px;
  }
/* ------------------------------------------- */
}
@media (max-width: 1000px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }
  .burger--follow{
    top: 15px;
    right: 15px;
    box-shadow: 0 1px 8px 0 #8DFD1B;
    background-color: #000000;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #8DFD1B;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #8DFD1B;
    border-radius: 3px;
  }
  .container{
    max-width: none;
    padding: none;
    margin: none;
  }
  .header{
    padding-top: 100px;
  }
  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    height: 100%;
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .3s;
    box-shadow: 0 1px 8px 0 #8DFD1B;
  }
  .header__top--open{
    transform: translateX(0);
  }
  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
    
  }
  .header__nav{
      text-align: center;
      margin: 0 auto;
      flex-grow: 1;
  }
  .header__nav-list{
    flex-direction: column;
  }
  .header__logo{
    margin: 0;
  }
  .header__nav-item{
  margin: 0;
  margin-top: 50%;
  }
  .header__nav-link {
    padding: 15px;
  }
  .header__top-buttons{
    margin-top: 5%;
    margin-left: 20%;
  }
  .header__img {
    margin-top: 180px;
    margin-left: -160px;
    height: 600px;
  }
  .waveNFT__content2{
    margin-left: -165px;
  }
  .story__wrapper{
    margin-left: -50px;
  }
  .story__content2{
    margin-left: -30px;
  }
  .artist__img{
    padding-left: 40px;
  }
  .slick-next {
    height: 55px;
    width: 20px;
    margin-top: 30px;
  }
  .slick-prev {
    height: 55px;
    width: 20px;
    margin-top: 30px;
  }
  .road__wrapper{
    margin-left: -50px;
  }
  .road__zagl{
    margin-left: 50px;
  }
  .logoholder__container{
    margin-left: -20px;
  }
  .logoholder__acc{
    margin-left: 100px;
    max-height: 555px;
  }
  .team__container{
    margin-left: -11px;
  }
  .END__image {
    margin-left: 20px;
    margin-top: -320px;
  }
  .endimg {
    height: 390px;
  }
  .footer__container{
    margin-left: 50px;
  }
  .footer{
    font-size: 14px;
  }
  /* ---------------------------------------------- */
}
@media (max-width: 950px) {
  .waveNFT__title{
    font-size: 30px;
  }
  .waveNFT__subtitle{
    font-size: 30px;
  }
  .waveNFT__img{
    height: 200px;
    margin-top: 50px;
  }
  .waveNFT__zagl{
    width: 380px;
    font-size: 16px;
  }
  .waveNFT__text1{
    width: 380px;
    font-size: 16px;
  }
  .waveNFT__text2{
    width: 380px;
    font-size: 16px;
  }
  .waveNFT__text3{
    width: 380px;
    font-size: 16px;
  }
  .waveNFT__btn {
    height: 82px;
  }
  .waveNFT__content2 {
    margin-left: -85px;
  }
  .road__zagl {
    margin-left: 130px;
  }
  .st__zagl{
    font-size: 16px;
    margin-left: 300px;
  }
  .story__picture{
    /* display: none; */
  }
  .strLine__zagl{
    width: 350px;
    font-size: 18px;
    margin-left: 400px;
    margin-top: -120px;
  }
  .story__line{
    margin-left: 395px;
    margin-top: -500px;
  }
  .story__text1{
    margin-left: 400px;
    width: 380px;
    font-size: 16px;
  }
  .story__text2{
    margin-left: 400px;
    width: 380px;
    font-size: 16px;
  }
  .story__text3{
    margin-left: 400px;
    width: 380px;
    font-size: 16px;
  }
  .logoholder__acc {
    margin-left: 10px;
    max-height: 600px;
  }
  .teamer1 {
    height: 281px;
  }
  /* ----------------------------------------- */
}
@media (max-width: 903px) {
  .header__img{
    margin-left: 30px;
  margin-top: 100px;
  width: 600px;
  height: 500px;
  }
  /* ------------------------------------------- */
}
@media (max-width: 850px) {
.artist__img {
    padding-left: 20px;
  }
.waveNFT__content2 {
  margin-left: -135px;
  }
  .road__wrapper{
    margin-left: -100px;
  }
  .road__zagl{
    margin-left: 150px;
  }
  .artist__img{
    padding-left: 40px;
  }
  .logoholder__content {
    margin-right: -10px;
  }
  .logoholder__acc{
    max-height: 710px;
  }
  .logoholder__heading{
    font-size: 30px;
    padding-left: 70px;
  }
  .teamer1{
    height: 150px;
    width: 150px;
  }
  .end__wrapper {
    padding-left: 66px;
  }
  .footer{
    font-size: 12px;
  }
  .footer__list {
    padding-left: 31px;
}
  /* ---------------------850------------------------- */
}
@media (max-width: 780px){
  .waveNFT__title {
    font-size: 40px;
  }
  .waveNFT__subtitle {
    font-size: 40px;
  }
  .waveNFT__content2 {
      margin-left: -172px;
  }
  .waveNFT__line {
    background-color: #8dfd1b;
    width: 2px;
  }
  .waveNFT__zagl {
      width: 290px;
      font-size: 23px;
  }
  .waveNFT__text1 {
    width: 320px;
    font-size: 18px;
  }
  .waveNFT__text2 {
    width: 320px;
    font-size: 18px;
  }
  .waveNFT__text3 {
    width: 320px;
    font-size: 18px;
  }
  .waveNFT__image {
    margin-top: 121px;
    margin-left: -61px;
    margin-right: 199px;
    height: 380px;
  }
  .road__wrapper {
    margin-left: -150px;
  }
  .end__wrapper {
    padding-left: 26px;
  }
/* ---------------------------------------- */
}
@media (max-width: 700px){
  .header__img {
    margin-left: -190px;
    margin-top: 210px;
    width: 450px;
    height: 350px;
  }
  .waveNFT__title {
    font-size: 30px;
  }
  .waveNFT__subtitle {
    font-size: 30px;
    width: 250px;
  }
  .waveNFT__image {
    margin-top: 1px;
    margin-left: -61px;
    margin-right: 199px;
    height: 307px;
  }
  .waveNFT__content1{
    margin-left: 230px;
  }
  .waveNFT__content2 {
    margin-left: -491px;
    margin-top: 530px;
  }
  .waveNFT__line {
    background-color: #8dfd1b;
    width: 2px;
  }
  .waveNFT__zagl {
      width: 290px;
      font-size: 13px;
  }
  .waveNFT__text1 {
    width: 320px;
    font-size: 15px;
  }
  .waveNFT__text2 {
    width: 320px;
    font-size: 15px;
  }
  .waveNFT__text3 {
    width: 320px;
    font-size: 15px;
  }
  .artist__slider{
    width: 660px;
  }
  .main__story {
    width: 700px;
  }
  .story__picture {
    margin-left: 110px;
  }
  .st__zagl {
    margin-left: 200px;
  }
  .story__ramka {
    margin-left: 62px;
    margin-top: 276px;
  }
  .story__line {
    margin-left: 322px;
    margin-top: -358px;
  }
  .strLine__zagl {
    width: 280px;
    font-size: 18px;
    margin-left: 335px;
    margin-top: -125px;
  }
  .story__text1 {
    margin-left: 335px;
    width: 320px;
  }
  .story__text2 {
    margin-left: 335px;
    width: 320px;
  }
  .story__text3 {
    margin-left: 335px;
    width: 320px;
  }
  .ramka_img{
  height: 600px;
  }
  .story__button1 {
    margin-left: -40px;
  }
  .story__button2 {
    margin-left: -40px;
  }
  .story__button3 {
    margin-left: -40px;
  }
  .road_map {
    width: 700px;
  }
  .road__wrapper {
    margin-left: -210px;
  }
  .road__zagl {
    margin-left: 170px;
  }
  .logoholder {
    margin-top: 288px;
    width: 700px;
  }
  .logoholder__acc {
    max-height: 710px;
    margin-top: 590px;
    margin-left: -320px;
  }
  .team {
    width: 700px;
  }
  .team__container {
    margin-left: -13px;
    display: flex;
  }
  .team__desc {
    margin-left: -25px;
    margin-bottom: 40px;
    max-width: 158px;
  }
  .END {
    width: 700px;
  }
  .end__wrapper {
    padding-left: 116px;
  }
  .END__image {
    margin-left: -410px;
    margin-top: 70px;
  }
  .footer {
    font-size: 12px;
    height: 470px;
    width: 700px;
  }
  .footer__inner {
    padding-top: 5px;
    display: inline-block;
  }
  .footer__list {
    padding-left: 1px;
    font-size: 17px;
    margin-top: 8px;
  }
  .footer__text {
    font-size: 13px;
    margin-top: 10px;
  }
  .footer__buttons {
    display: flex;
    margin-top: 30px;
    margin-left: 195px;
  }
  /* -------------------700---------------------------- */
}
@media (max-width: 650px){
  .wrapper {
    width: 650px;
  }
  .waveNFT__content1 {
    margin-left: 150px;
  }
  .waveNFT__content2 {
    margin-top: 416px;
    margin-left: -487px;
  }
  .waveNFT__img {
    margin-top: -80px;
  }
  .waveNFT__zagl{
    font-size: 20px;
  }
  .waveNFT__text1{
    font-size: 20px;
  }
  .waveNFT__text2{
    font-size: 20px;
  }
  .waveNFT__text3{
    font-size: 20px;
  }
  .waveNFT__btn {
    height: 76px;
    font-size: 18px;
  }
  .artist__slider {
    width: 650px;
  }
  .main__story {
    width: 650px;
  }
  .st__zagl {
    font-size: 14px;
    margin-left: 160px;
  }
  .str__wrapper {
    margin-top: 290px;
    margin-left: -300px;
  }
  .story__line {
    margin-left: 463px;
    margin-top: -568px;
  }
  .strLine__zagl {
    font-size: 20px;
    margin-left: 470px;
  }
  .story__picture {
    display: none;
  }
  .story__text1{
    font-size: 15px;
    margin-left: 470px;
    width: 430px;
  }
  .story__text2{
    font-size: 15px;
    margin-left: 470px;
    width: 430px;
  }
  .story__text3{
    font-size: 15px;
    margin-left: 470px;
    width: 330px;
  }
  .road__zagl {
    margin-left: 200px;
  }
  .road__wrapper {
    margin-left: -230px;
  }
  .logoholder__acc{
    margin-top: 583px;
    margin-left: -339px;
    max-height: 600px;
  }
  .logoholder__acc-text {
    font-size: 14px;
  }
  .END__image {
    margin-left: -370px;
    margin-top: 40px;
  }
  /* ------------------------------------------------- */
}
@media (max-width: 600px){
  .wrapper {
    width: 676px;
  }
  .header__img {
    margin-left: -3px;
    margin-top: 50px;
    width: 500px;
    height: 400px;
  }
  .road_map {
    width: 600px;
  }
  .road__wrapper {
    margin-left: -230px;
  }
  .road__zagl {
    margin-left: 260px;
  }
  .footer__container{
  margin-left: -5px;
  }
  .footer__buttons {
    margin-left: 245px;
  }
}
@media (max-width: 500px){
  .wrapper{
    width: 129%;
  }
  .header__title{
    font-size: 57px;
  }
  .header__subtitle{
    font-size: 25px;
    max-width: 490px;
  }
  .header__content-btn{
    padding-top: 2px;
    margin-top: 80px;
    font-size: 21px;
  }
  .header__img {
    margin-left: 14px;
}
.road_map {
  width: 680px;
  }
.road__zagl {
  margin-left: 210px;
}
.road__wrapper {
  margin-left: -240px;
}
.map__title {
  font-size: 17px;
}
.map__subtitle {
    font-size: 22px;
}
.map__text1{
  font-size: 16px;
}
.map__text2{
  font-size: 16px;
}
.map__text3{
  font-size: 16px;
}
.map__text4{
  font-size: 16px;
}
.map__text5{
  font-size: 16px;
  max-width: 400px;
}
.map__NFT {
    margin-top: -170px;
}
.map__NFT1 {
    margin-top: -180px;
}
.map__NFT2 {
    margin-top: -190px;
}
.logoholder__inner {
    margin-left: -30px;
}
.logoholder__acc {
    max-height: 870px;
    margin-left: -300px
}
.logoholder__acc-text{
  font-size: 16px;
}
.team__container {
  margin-left: 184px;
  display: inline-block;
}
.teamer1 {
    height: 300px;
    width: 300px;
    padding: 10px;
}
.team__role {
    font-size: 17px;
}
.team__desc {
    font-size: 21px;
    max-width: 298px;
}
.team__zagl {
    margin-left: 10px;
}
.END__desc {
  font-size: 24px;
}
.end__wrapper {
    padding-left: 56px;
}
.END__btn {
  padding-top: 22px;
  font-size: 22px;
  padding-left: 10px;
}
.footer{
  width: 700px;
}
.footer__container {
  margin-left: 10px;
}
  /* ----------------------500------------------------- */
}
@media (max-width: 460px) {
  .wrapper {
    width: 150%;
  }
}
@media (max-width: 414px) {
  .header__top{
    min-width: none;
    left: 0;
  }
  .wrapper {
    width: 414px;
  }
  body{
    margin-left: -1px;
}
  .header__title{
    font-size: 40px;
    max-width: 200px;
  }
  .header__subtitle {
    max-width: 370px;
  }
  .header__img {
    margin-left: -210px;
    width: 350px;
    height: 250px;
    margin-top: 170px;
  }
  .waveNFT__content1 {
    margin-left: 80px;
  }
  .waveNFT__content2 {
    margin-top: 406px;
    margin-left: -517px;
  }
  .artist__slider {
    width: 413px;
  }
  .container__slider{
    max-width: 280px;
  }
  .artist__img {
    padding-left: 1px;
  }
  .main__story{
    max-width: 413px;
  }
  .story__line {
    margin-left: 373px;
    margin-top: -568px;
  }
  .strLine__zagl {
    font-size: 20px;
    margin-left: 391px;
  }
  .st__zagl{
    font-size: 14px;
    margin-left: 130px;
  }
  .str__wrapper {
    margin-top: 290px;
    margin-left: -300px;
  }
  .story__btns {
    font-size: 20px;
  }
.story__text1{
    font-size: 18px;
    margin-left: 374px;
    width: 380px;
  }
.story__text2{
    font-size: 18px;
    margin-left: 374px;
    width: 380px;
  }
.story__text3{
    font-size: 18px;
    margin-left: 374px;
    width: 380px;;
  }
  .road_map {
    width: 414px;
  }
  .road__wrapper{
    margin-left: -286px;
  }
  .road__zagl{
    margin-left: 250px;
  }
  .road__container3 {
    height: 271px;
}
  .NFT__map1 {
  display: none;
  }
  .map__text5 {
    font-size: 13px;
  }
  .logoholder {
    width: 413px;
  }
  .logoholder__acc{
    margin-top: 583px;
    margin-left: -339px;
    max-height: 680px;
  }
  .team {
    width: 413px;
  }
  .team__zagl {
    margin-left: 10px;
  }
  .teamer1{
    height: 300px;
    width: 300px;
    margin-left: 60px;
  }
  .team__container{
    margin-left: -10px;
    padding-top: 20px;
  }
  .team__name {
    margin-left: 60px;
  }
  .team__role{
    margin-left: 60px;
  }
  .team__links{
    margin-left: 60px;
  }
  .team__desc {
    margin-left: 70px;
    margin-bottom: 40px;
    max-width: 230px;
    text-align: center;
  }
  .end__wrapper{
    margin-left: -30px;
  }
  .END__image {
    margin-left: -400px;
    margin-top: 60px;
}
  .footer{
    height: 810px;
    font-size: 16px;
    width: 413px;;
  }
  .footer__inner{
    display: inline;
  }
  .footer__container{
    margin-top: 10px;
  }
  .footer__text {
    margin-top: 23px;
    margin-bottom: 20px;
    font-size: 20px;
}
.footer__list {
  padding-left: 0px;
  margin-bottom: 90px;
  font-size: 20px;
  padding-top: 10px;
}
.footer__buttons {
    display: flex;
    margin-top: -10px;
    margin-left: 80px;
}
  /* ------------------------------------------------ */
}
@media (max-width: 375px) {
  .wrapper {
    width: 375px;
  }
  .header__img {
    margin-left: 0px;
    margin-top: 60px;
  }
  .story__text1 {
    font-size: 14px;
    margin-left: 374px;
    width: 347px;
  }
  .story__text2 {
    font-size: 14px;
    margin-left: 374px;
    width: 347px;
  }
  .story__text3 {
    font-size: 14px;
    margin-left: 374px;
    width: 347px;
  }
  .map__title {
    font-size: 14px;
  }
  .map__subtitle {
    font-size: 12px;
  }
  .map__text1 {
    font-size: 12px;
  }
  .map__text2 {
    font-size: 12px;
  }
  .map__text3 {
    font-size: 12px;
  }
  .map__text4 {
    font-size: 12px;
  }
  .map__text5 {
    font-size: 12px;
  }
}
@media (max-width: 360px) {
  .wrapper {
    width: 360px;
  }
}
@media (max-width: 344px) {
  .wrapper {
    width: 344px;
  }
}
@media (max-width: 320px){
  .wrapper {
    width: 320px;
  }
  body{
    margin-left: -6px;
}
  .header__subtitle{
    font-size: 24px;
    max-width: 300px;
  }
  .header__img {
    width: 270px;
    height: 180px;
    margin-top: 30px;
    margin-left: 0px;
  }
  .waveNFT__content1 {
    margin-left: 30px;
  }
  .waveNFT__content2 {
    margin-left: -487px;
    margin-top: 520px;
  }
  .waveNFT__image {
    margin-top: 111px;
    margin-left: -61px;
    margin-right: 199px;
    height: 307px;
  }
  .waveNFT__subtitle{
    max-width: 200px;
  }
  .waveNFT__line{
    padding-top: 20px;
  }
  .waveNFT__zagl {
    font-size: 13px;
    width: 300px;
  }
  .waveNFT__text1 {
    font-size: 16px;
    width: 300px;
    margin-left: 5px;
  }
  .waveNFT__text2{
    font-size: 16px;
    width: 300px;
    margin-left: 5px;
  }
  .waveNFT__text3{
    font-size: 16px;
    width: 300px;
    margin-left: 5px;
  }
  .artist__slider {
    width: 320px;
  }
  .artist__title {
    font-size: 49px;
  }
  .artist__img {
    padding-left: 25px;
  }
  .main__story {
  max-width: 320px;
  }
  .st__zagl {
    font-size: 14px;
    margin-left: 60px;
  }
  .strLine__zagl{
    max-width: 270px;
  }
  .ramka_img {
    height: 700px;
  }
  .story__line {
    margin-left: 374px;
    margin-top: -669px;
  }
  .line__zagl {
    margin-left: 8px;
  }
  .story__text1{
    max-width: 300px;
    font-size: 14px;
  }
  .story__text2{
    max-width: 300px;
    font-size: 14px;
  }
  .story__text3{
    max-width: 300px;
    font-size: 14px;
  }
  .road_map {
    width: 320px;
  }
  .map__title {
    font-size: 10px;
  }
  .map__subtitle {
    font-size: 10px;
  }
  .map__text1{
    padding-left: 10px;
    margin-top: -10px;
    font-size: 10px;
  }
  .map__text2{
    padding-left: 10px;
    margin-top: -10px;
    font-size: 10px;
  }
  .map__text3{
    padding-left: 10px;
    margin-top: -10px;
    font-size: 10px;
  }
  .map__text4{
    margin-top: -3px;
    font-size: 10px;
  }
  .map__text5{
    margin-top: -3px;
    font-size: 10px;
  }
  .NFT__map1 {
  display: none;
  }
  .logoholder {
    width: 320px;
  }
  .logoholder__heading {
    padding-left: 50px;
  }
  .logoholder__acc{
    max-height: 1030px;
  }
  .logoholder__acc-head {
    font-size: 26px;
  }
  .logoholder__acc-text {
  font-size: 21px;
  }
  .team {
    width: 320px;
  }
  .team__zagl {
    margin-left: 10px;
  }
  .team__container {
    margin-left: -65px;
  }
  .team__zagl {
    margin-left: 140px;
  }
  .team__name {
  font-size: 30px;
  }
  .team__role {
  font-size: 24px;
  }
  .team__desc {
    font-size: 23px;
  }
  .end__wrapper {
    width: 331px;
    margin-left: -60px;
  }
  .endimg {
    height: 420px;
    width: 400px;
    padding-left: 0px;
  }
  .END {
    padding-top: 236px;
    max-width: 319px;
  }
  .END__image {
    margin-left: -410px;
    margin-top: 50px;
  }
  .footer {
    height: 800px;
    width: 319px;
  }
  .footer__text {
  font-size: 20px;
  }
  .footer__list {
    font-size: 20px;
  }
    }