/* -----------------GLOBAL----------------- */
/* -----------------GLOBAL----------------- */

body{
  background-color: black;
  color: white;
}
.wrapper{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container{
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
.burger {
  display: none;
}
.button{
  width: 205px;
  height: 60px;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #000000;
  background: #8DFD1B;
  white-space: nowrap;
  text-align: center;
  transition: .3s;
}
.button:hover {
  transform: scale(1.05);
}
/* --------------------------HEADER----------------------- */
/* --------------------------HEADER----------------------- */
.header {
}
.header__top {
  height: 100px;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 40px;
  margin-top: 52px;
  margin-left: 140px;
}

.header__nav {
  margin-right: auto;
  margin-top: 48px;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0px;
}
.header__nav-link {
  font-weight: 400;
  line-height: 16px;
  color: #FFFFFF;
  font-family: 'DM mono';
  font-size: 16px;
  transition: all .3s;
}
.header__nav-link:hover {
  color: #8DFD1B;
}
.header__btn-box {
  margin-top: 48px;
}
.header__top-buttons {
  display: flex;
}

.header__top-tw{
  margin-right: 12px;
  transition: .3s;
}
.header__top-tw:hover{
  transform: scale(1.3);
}
.header__top-dc{
  margin-right: 12px;
  transition: .3s;
}
.header__top-dc:hover{
  transform: scale(1.3);
}
.header__top-yt{
  margin-right: 12px;
  transition: .3s;
}
.header__top-yt:hover{
  transform: scale(1.3);
}
.header__top-tg{
  margin-right: 140px;
  transition: .3s;
}
.header__top-tg:hover{
  transform: scale(1.3);
}
.header__top-btn {
}
/* ------------------------HEADER MAIN--------------------- */
/* ------------------------HEADER MAIN--------------------- */

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  margin-right: 30px;
}
.header__title {
  font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 51px;
line-height: 61px;
max-width: 484px;
margin-top: 133px;
}
.header__subtitle {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
max-width: 340px;
margin-top: 43px;
}
.header__content-btn {
  margin-top: 115px;
  font-family: 'DM mono';
}
.header__img {
  margin-left: 580px;
  margin-top: -555px;
}
/* ------------------------wave--NFT--------------------- */
/* ------------------------wave--NFT--------------------- */
.waveNFT {
  margin-top: 114px;
}
.waveNFT__inner {
  display: flex;
}
.waveNFT__content1 {
}
.waveNFT__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
}
.waveNFT__subtitle {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #A8A8A8;
  width: 351px;
}
.waveNFT__img {
}
.waveNFT__image {
  margin-top: 41px;
  margin-left: -65px;
  margin-right: 220px;
}
.waveNFT__content2 {
  margin-left: 100px;
}
.line__zagl{
  display: flex;
}
.waveNFT__line {
}
.waveNFT__zagl {
  width: 546px;
  margin-left: 22px;
  color: #8DFD1B;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin-left: 22px;
}
.waveNFT__text1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 551px;
  margin-top: 32px;
}
.waveNFT__text2 {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
width: 562px;
margin-top: 18px;
}
.waveNFT__text3 {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
width: 564px;
margin-top: 17px;
}
.waveNFT__btn {
  font-family: 'DM mono';
  width: 246px;
  height: 42px;
  margin-top: 36px;
}
/* ------------------------artist--slider--------------------- */
/* ------------------------artist--slider--------------------- */

.artist__slider {
}
.artist__inner {
}
.artist__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 79px;
  line-height: 88px;
  margin-top: 179px;
  text-align: center;
}
.container__slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.artist__slide {
  margin-top: 127px;
}
.artist__img {
  padding-left: 70px;
}
.artist__name {
  text-align: center;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
/* ----------------------------STORY--------------------- */
/* ----------------------------STORY--------------------- */
.main__story {
  margin-top: 240px;
}
.story__wrapper {
  margin-top: 61px;
}
.story__ramka{
  margin-left: 322px;
}
.story__container {
}
.st__zagl {
  display: flex; 
  margin-left: 630px;
}
.story__title {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
}
.story__subtitle {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #A8A8A8;
}
.story__content1 { 
  margin-top: 61px;
}
.story__btns {
  position: absolute;
  margin-left: 68px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.story__button1 {
  height: 72px;
  padding-top: 25px;
}
.story__button1:hover {
  height: 72px;
  width: 282px;
  color: #8DFD1B;
  background: url('../images/decor/button.svg');
}
.stbt1{
  padding-left: 28px;
}
.stbt2{
  padding-left: 28px;
}
.stbt3{
  padding-left: 28px;
}
.story__button2 {
  height: 72px;
  padding-top: 25px;
}
.story__button2:hover {
  height: 72px;
  width: 282px;
  color: #8DFD1B;
  background: url('../images/decor/button.svg');
}
.story__button3 {
  height: 72px;
  padding-top: 25px;
}
.story__button3:hover {
  height: 72px;
  width: 282px;
  color: #8DFD1B;
  background: url('../images/decor/button.svg');
}
.story__content2 {
  margin-top: 61px;
}
.str__wrapper {
}
.story__picture {
  margin-left: 382px;
  margin-top: -478px;
}
.story__line {
  margin-left: 594px;
  margin-top: -250px;
}
.strLine__zagl {
  margin-left: 616px;
  margin-top: -126px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  max-width: 494px;
}
.story__text1 {
  margin-top: 32px;
  margin-left: 594px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 529px;
}
.story__text2 {
  margin-top: 18px;
  margin-left: 592px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 522px;
}
.story__text3 {
  margin-top: 17px;
  margin-left: 592px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 522px;
}
.story__ost{
}
.ost__img{
  margin-top: 180px;
  width: 100%;
}
/* --------------------------ROAD--MAP--------------------- */
/* --------------------------ROAD--MAP--------------------- */
.road_map {
  margin-top: 118px;
}
.road__wrapper {
}
.map__fon {
  max-width: 1392px;
  max-height: 1168px;
}
.road__zagl {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.road__container {
  margin-left: 550px;
  margin-top: -1100px;
}
.map__content1 {
}
.map__block {
}

.map__btns {
  margin-top: -259px;
  padding-left: 12px;
}
.map__button{
padding-top: 8px;
display: inline-flex;
margin-left: -33px;
font-family: 'DM Mono';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
color: #8DFD1B;
}
.map__title {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #8DFD1B;
  margin-top: -45px;
  margin-left: 80px;
}
.map__subtitle {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 80px;
  margin-top: 10px;
}
.map-line {
  margin-top: 10px;
}
.map__text1 {
  padding-left: 34px;
  padding-top: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
}
.map__text2 {
  padding-left: 34px;
  margin-top: -12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
}
.map__text3 {
  padding-left: 34px;
  margin-top: -12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
}
.map__text4 {
  margin-top: 10px;
  margin-left: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  max-width: 293px;
}
.map__text5 {
  margin-left: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  max-width: 293px;
}
.map__NFT {
  margin-left: 397px;
  margin-top: -130px;
}
.map__NFT1 {
  margin-left: 397px;
  margin-top: -160px;
}
.map__NFT2 {
  margin-left: 397px;
  margin-top: -160px;
}
.NFT__map1 {

}
.road__container2{
  margin-left: 550px;
  margin-top: 240px;
}
.road__container3{
  margin-left: 550px;
  margin-top: 240px;
}

/* -----------------------LOGOHOLDER------------------------ */
/* -----------------------LOGOHOLDER------------------------ */
.logoholder{
  margin-top: 288px;
}
.logoholder__container {
}
.logoholder__zagl {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.logoholder__inner {
  padding-top: 245px;
}
.logoholder__content {
  display: flex;
  /* justify-content: space-between; */
  margin-right: 30px;
}
.logoholder__heading {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  padding-left: 100px;
}
.logoholder__text1 {
}
.logoholder__text2 {
  color: #A8A8A8;
}
.logoholder__text3 {
}
.logoholder__image {
  margin-top: 180px;
  margin-left: -300px;
}
.logoholder__acc {
  margin-left: 320px;
  background-color: #222222;
  max-height: 460px;
  padding: 20px;
}
.logoholder__acc-item {
  /* padding-left: 40px; */
  padding-bottom: 25px;
}
.logoholder__acc-link{
  display: block;
  padding-left: 40px;
}
.logoholder__acc-head {
  font-family: 'DM Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
position: relative;
}
.logoholder__acc-head::before,
.logoholder__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.logoholder__acc-head::after{
  transform: rotate(90deg);
  transition: all .3s;
}
.logoholder__acc-text {
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #C4C4C4;
  max-width: 514px;
}
.logoholder__acc-link--active .logoholder__acc-head::after{
  transform: rotate(0deg);
}

/* --------------------------TEAM------------------------ */
/* --------------------------TEAM------------------------ */
.team {
  padding-top: 120px;
}
.team__wrapper {
}
.team__zagl {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}
.team__container {
  padding-top: 122px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  padding-left: 50px;
}
.team__content1 {
  text-align: center;
}
.team__photo {
}
.teamer1 {
}
.team__name {
  margin-top: 19px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 28px;
}
.team__role {
  margin-top: 18px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #8DFD1B;
}
.team__links {
  margin-top: 22px;
}
.team__twit {
  margin-right: 12px;
}
.twitter{
  transition: .3s;
}
.twitter:hover{
  transform: scale(1.3);
}
.team__in {
}
.in{
  transition: .3s;
}
.in:hover{
  transform: scale(1.3);
}
.team__desc {
  padding-left: 35px ;
  margin-top: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  max-width: 298px;
}
/* --------------------------END------------------------ */
/* --------------------------END------------------------ */
.END {
  padding-top: 236px;
}
.end__wrapper {
  padding-left: 136px;
}
.end__zagl {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 61px;
}
.END__text1 {
}
.END__text2 {
  color: #8DFD1B;
}
.END__desc {
  padding-top: 34px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 345px;
}
.END__btn {
  padding-top: 35px;
  /* width: 213px;
  height: 43px; */
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.button {
}
.END__image {
  padding-left: 700px;
  margin-top: -330px;
}
.endimg {
}
/* --------------------------FOOTER------------------------ */
/* --------------------------FOOTER------------------------ */
.footer {
  margin-top: 118px;
  background-color: #42006A;
  height: 338px;
  width: 100%;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.footer__container {
  padding-left: 140px;
}
.footer__inner {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.footer__col {
}

.footer__logo {
}
.logo {
}
.footer__text {
  margin-top: 63px;
}
.footer__list {
}
.footer__item {
  margin-top: 29px;
  transition: .3s;
}
.footer__item:hover {
  color: black;
}
.footer__item:first-child {
  margin-top: 0;
}
.footer__link {
}
.footer__buttons {
  display: flex;
}
.footer__tw {
  margin-right: 12px;
   transition: .3s;
}
.footer__tw:hover {
  transform: scale(1.3);
}
.footer__dc {
  margin-right: 12px;
  transition: .3s;
}
.footer__dc:hover {
  transform: scale(1.3);
}
.footer__yt {
  margin-right: 12px;
  transition: .3s;
}
.footer__yt:hover {
  transform: scale(1.3);
}
.footer__tg {
  transition: .3s;
}
.footer__tg:hover {
  transform: scale(1.3);
}
/* --------------------------MEDIA------------------------ */
/* --------------------------MEDIA------------------------ */

@media (max-width: 1000px) {
  .burger {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }
  .burger--follow{
    top: 15px;
    right: 15px;
    box-shadow: 0 1px 8px 0 #8DFD1B;
    background-color: #000000;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #8DFD1B;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #8DFD1B;
    border-radius: 3px;
  }
  .header{
    padding-top: 100px;
  }
  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    height: 100%;
    z-index: 100;
    transform: translateX(100%);
    transition: all .3s;
    box-shadow: 0 1px 8px 0 #8DFD1B;
  }
  .header__top--open{
    transform: translateX(0);
  }
  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
    
  }
  .header__nav{
    text-align: center;
    margin-left: 112px;
  }
  .header__nav-list{
    flex-direction: column;
  }
  .header__logo{
    margin: 0;
  }
  .header__nav-item{
  margin: 0;
  margin-top: 50%;
  }
  .header__nav-link {
    padding: 15px;
  }
  .header__top-buttons{
    margin-top: 5%;
    margin-left: 20%;
  }
  .header__img{
    margin-top: 200px;
    margin-left: -260px;
  }
  .waveNFT__content2{
    margin-left: -165px;
  }
  .story__wrapper{
    margin-left: -50px;
  }
  .story__content2{
    margin-left: -30px;
  }
  .road__wrapper{
    margin-left: -240px;
  }
  .road__zagl{
    margin-left: 240px;
  }
  .logoholder__container{
    margin-left: -20px;
  }
  .logoholder__acc{
    margin-left: -40px;
  }
  .team__container{
    margin-left: -70px;
  }
  .endimg{
    margin-top: 380px;
    margin-left: -840px;
  }
  .footer__container{
    margin-left: -100px;
  }
  .footer{
    font-size: 14px;
  }
  /* ---------------------------------------------- */
}
@media (max-width: 800px) {
  .header__img{
    margin-left: 30px;
  margin-top: 100px;
  width: 600px;
  height: 500px;
  }
  .waveNFT__title{
    font-size: 30px;
  }
  .waveNFT__subtitle{
    font-size: 30px;
  }
  .waveNFT__img{
    height: 200px;
    margin-top: 50px;
  }
  .waveNFT__zagl{
    width: 380px;
    font-size: 16px;
  }
  .waveNFT__text1{
    width: 380px;
    font-size: 16px;
  }
  .waveNFT__text2{
    width: 380px;
    font-size: 16px;
  }
  .waveNFT__text3{
    width: 380px;
    font-size: 16px;
  }
  .st__zagl{
    font-size: 16px;
    margin-left: 300px;
  }
  .story__picture{
    display: none;
  }
  .strLine__zagl{
    width: 350px;
    font-size: 18px;
    margin-left: 400px;
    margin-top: -120px;
  }
  .story__line{
    margin-left: 395px;
    margin-top: -500px;
  }
  .story__text1{
    margin-left: 400px;
    width: 380px;
    font-size: 16px;
  }
  .story__text2{
    margin-left: 400px;
    width: 380px;
    font-size: 16px;
  }
  .story__text3{
    margin-left: 400px;
    width: 380px;
    font-size: 16px;
  }
  .road__wrapper{
    margin-left: -450px;
  }
  .road__zagl{
    margin-left: 450px;
  }
  .slick-next {
    height: 55px;
    width: 20px;
  }
  .slick-prev {
    height: 55px;
    width: 20px;
  }
  .artist__img{
    padding-left: 40px;
  }
  .logoholder__content {
    margin-right: 0;
  }
  .logoholder__acc{
    max-height: 500px;
  }
  .logoholder__heading{
    font-size: 30px;
    padding-left: 70px;
  }
  .teamer1{
    height: 150px;
    width: 150px;
  }
  .footer{
    font-size: 12px;
  }
  /* ---------------------------------------------- */
}

@media (max-width: 400px) {
  .header__top{
    min-width: none;
    left: 0;
  }
  .header__title{
    font-size: 40px;
    max-width: 200px;
  }
  .header__img{
    margin-left: 0;
    width: 500px;
    height: 400px;
  }
  .waveNFT__content2{
    margin-top: 566px;
    margin-left: -517px;
  }
  .waveNFT__zagl{
    font-size: 14px;
  }
  .waveNFT__text1{
    font-size: 14px;
  }
  .waveNFT__text2{
    font-size: 14px;
  }
  .waveNFT__text3{
    font-size: 14px;
  }
  .st__zagl{
    font-size: 14px;
    margin-left: 70px;
  }
  .str__wrapper {
    margin-top: 290px;
    margin-left: -300px;
  }
.strLine__zagl{
  font-size: 15px;
  }
.story__text1{
  font-size: 13px;
  }
.story__text2{
  font-size: 13px;
  }
.story__text3{
  font-size: 13px;
  }
  .road__wrapper{
    margin-left: -550px;
  }
  .road__zagl{
    margin-left: 550px;
  }
  .NFT__map1 {
    margin-left: -121px;
    margin-top: -22px;
    height: 100px;
    width: 100px;
  }
  .logoholder__acc{
    margin-top: 583px;
    margin-left: -339px;
    max-height: 600px;
  }
  .teamer1{
    height: 200px;
    width: 200px;
    margin-left: 60px;
  }
  .team__container{
    margin-left: -49px;
    display: inline-grid;
  }
  .team__name {
    margin-left: 60px;
  }
  .team__role{
    margin-left: 60px;
  }
  .team__links{
    margin-left: 60px;
  }
  .team__desc{
    margin-left: 40px;
    margin-bottom: 40px;
  }
  .end__wrapper{
    margin-left: -110px;
  }
  .footer{
    height: 500px;
    font-size: 16px;
  }
  .footer__inner{
    display: inline;
  }
  .footer__container{
    margin-top: 10px;
  }
  /* ------------------------------------------------ */
}

@media (max-width: 320px){
  .header__subtitle{
    font-size: 14px;
    max-width: 300px;
  }
  .header__img{
    width: 300px;
    height: 200px;
  }
  .waveNFT__subtitle{
    max-width: 200px;
  }
  .waveNFT__line{
    padding-top: 20px;
  }
  .waveNFT__zagl{
    max-width: 270px;
  }
  .waveNFT__text1{
    max-width: 270px;
  }
  .waveNFT__text2{
    max-width: 270px;
  }
  .waveNFT__text3{
    max-width: 270px;
  }
  .strLine__zagl{
    max-width: 270px;
  }
  .story__text1{
    max-width: 270px;
  }
  .story__text2{
    max-width: 270px;
  }
  .story__text3{
    max-width: 270px;
  }
  .map__text1{
    padding-left: 10px;
    margin-top: -10px;
  }
  .map__text2{
    padding-left: 10px;
    margin-top: -10px;
  }
  .map__text3{
    padding-left: 10px;
    margin-top: -10px;
  }
  .map__text4{
    margin-top: -3px;
  }
  .NFT__map1 {
  display: none;
  }
  .logoholder__acc{
    max-height: 800px;
  }
  .endimg{
    height: 400px;
    width: 400px;
    padding-left: 70px;
  }
}